body{
margin:0;
padding:0;
background:#ace36d;
font-family: 'Architects Daughter', cursive;
}
.header{
height:400px;
color:white;
background: linear-gradient(rgba(0,0,0, 0.6),rgba(0,0,0, 0.6)), url('картинки/bike.jpg');
background-size: 100%;
}
.header>h1{
font-size:70px;	
font-family:Tahoma;
color:#eda011;
}
.nav{
height:100px;
color:#eda011;
background:#7d1e8a;	
}
.nav>h1{
font-size:70px;	
font-family:Tahoma;	
}
.menu{
display:flex;
justify-content:flex-end;
}
.menu>a{
color:white;
text-decoration:none;
margin-right:15px;
font-size:25px;
}
.menu>a:hover{
color:red;	
}
.main{
height:1350px;
display:flex;
justify-content:space-around;
}
.main-right{
width:33%;
height:1000px;
text-align:center;
}
.main-right1{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main-right2{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main-center{
width:33%;
height:1000px;
text-align:center;
}
.main-center1{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main-center2{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main-left{
width:33%;
height:1000px;
text-align:center;
}
.main-left1{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main-left2{
height:600px;
border: 2px solid red;
padding: 20px 10px;
margin:20px 10px;
}
.main>h1{
padding-top:5px;	
}
img{
width:300px;	
height:200px;
transition: transform 1s;
}
img:hover{
transform:scale(1.4); 
}
#knopka{
text-decoration:none;
color:white;
display:flex;
display:inline;
background:red;
border-radius:5px;
padding:10px 20px;
}
#knopka:hover{
background:#e8846d;
color:black;	
}
.form{
height:550px;
background:#dfedd5;
display:flex;
flex-direction:column;
align-items:center;
padding-top:60px;
}
.forma1{
height:40px;
width:250px;
}	
.forma2{
height:40px;
width:250px;
}
.button{
background: #10c9c3;
padding: 20px 40px;
width:100px;
text-decoration: none;
color: white;
display:flex;
justify-content:center;
font-size:25px;
}
.button1{
display:flex;
justify-content:center;
}
.button:hover{
background:#13e2ed;
}	
.footer{
height:70px;
background:black;
display:flex;
justify-content:center;
text-align:center;
align-items:center;
color:white;
}
.footer>a{
color:white;
text-decoration:none;
margin-right:10px;
}
.footer>a:hover{
text-decoration:underline;	
}

