<div class="addProduct">
    <h1 class="text-center">All Products</h1>
    
    <div class="row align-items-end">
      <div class="col-4"> 
          <div class="mb-3">
              <label class="form-label">Product name</label>
              <input type="text" class="form-control" placeholder="Product name" v-model="$root.filter.name">
          </div>
      </div>
      <div class="col-3"> 
          <div class="mb-3">
              <label class="form-label">Min price</label>
              <input type="number" class="form-control" placeholder="Min price" v-model="$root.filter.minPrice">
          </div>
      </div>
      <div class="col-3"> 
          <div class="mb-3">
              <label class="form-label">Max price</label>
              <input type="number" class="form-control" placeholder="Max price" v-model="$root.filter.maxPrice">
          </div>
      </div>
      <div class="col-2">
          <div class="mb-3">
              <button class="btn btn-primary w-100" @click="filter()">Find</button>
          </div>
      </div>
  </div>

  <h2 class="text-center" v-if="$parent.products.length == 0">
    Sorry there are no products with that filter ☹
  </h2>


    <div class="d-flex flex-wrap justify-content-around mt-5">
        <product-card
             v-for="product in $parent.products" 
             :product="product">
        </product-card>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModallLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Modal title</h5>
              <button 
                type="button" 
                class="btn-close" 
                data-bs-dismiss="modal" 
                aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Product name</label>
                    <input v-model="$root.edit_product.name" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product price</label>
                    <input v-model="$root.edit_product.price" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product actionPrice</label>
                    <input v-model="$root.edit_product.actionPrice" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product image</label>
                    <input v-model="$root.edit_product.url" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product display</label>
                    <input v-model="$root.edit_product.display" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product camera</label>
                    <input v-model="$root.edit_product.camera" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product acc</label>
                    <input v-model="$root.edit_product.acc" type="text" class="form-control">
                </div>
                <div class="mb-3">
                    <label class="form-label">Product photos</label>
                    <textarea v-model="$root.edit_product.photos" class="form-control" rows="3"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label">Product description</label>
                    <input v-model="$root.edit_product.description" type="text" class="form-control">
                </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button 
                type="button" 
                class="btn btn-primary"
                @click="saveEditedProduct"
                data-bs-dismiss="modal"
                >Save changes</button>
            </div>
          </div>
        </div>
    </div>
</div>  