<div class="home">
    <div class="home_header d-flex justify-content-center align-items-center">
        <div class="text-center">
            <h1 class="text-center wow fadeInDown">EnterShoop</h1>
            <p class="wow fadeInDown">Make your orders in minutes</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 col-lg-6 p-4 wow slideInLeft">
            <img class="home_img" src="../images/samye-populyarnye-smartfony-obzor-1200x675-1.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 text-left p-4 wow slideInRight">
            <ul>
                <li>Вітаємо у інтернет магазині мобільних телефонів EnterShoop! Тут ви можете придбати сучасні телефони та мобільну цифрову техніку за доступною ціною. Ми здійснюємо продаж мобільних телефонів у Львові. Також ми здійснюємо онлайн продаж телефонів за зниженими цінами.</li>
                <li>Наш онлaйн-мaгaзин мобільної електроніки охоплює всі категорії та асортимент різних виробників телефонів. Пропонуємо вражаючий асортимент моделей для постійних покупців: від бюджетних до флагманських новинок.</li>
                <li>Вам залишається визначитися з бажаним функціоналом та знайти свій телефон на нашому сайті. Завітайте в одну із офлайн крамничок по місту, щоб оформити та забрати покупку.</li>
            </ul>
        </div>
    </div>

    <br><br><br><br>
    <br><br><br><br>

</div>