body{
margin:0;
padding:0;
font-family:Tahoma
}
.wrapper{
height:400px;
width:1000px;
margin:0 auto
}
.menu{
height:80px;
display:flex;
align-items:center;
justify-content:space-between;
}
nav>a{
color:black;
text-decoration:none;
font-size:20px;
font-weight:800px;
margin-right:10px;
}
nav>a:hover{
color:red;	
}
.banner{
background:lightgray;
height:300px;
display:flex;
}
.banner-left{
height:100%;
width:50%;
display:flex;
align-items:center;
justify-content:center;
}
.banner-left>img{
width:85%;	
}
.banner-right{
height:100%;
width:50%;
}
.banner-right>h1{
font-size:24px;	
}
.banner-right>p{
font-size:16px;
font-family:Times;
color:gray;	
}
.banner-right>a{
background:#d63200;
color:white;
text-decoration:none;	
padding:5px 15px; 
border-radius:5px;	
}
.banner-right>a:hover{
background:#d65200;
}
article>p{
font-size:18px;
font-family:Times;
color:gray;	
}
.icons{
display:flex;
justify-content:space-between;	
}
.box{
display:flex;
align-items:center;	
}
.box>img{
margin-right:15px;
}
.box>p{
font-style:italic;	
}
.pidval{
height:70px;
background:lightgray;
width:100%;
display:flex;
justify-content:space-between;
color:black;
align-items:center;
font-size:20px;
}



