.card{
    width: 24rem;
    padding: 1rem;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    overflow: hidden;
}
.card:hover{
    transform: scale(1.02);
}
.card p{
    font-size: 20px;
}
.card img{
    height: 200px;
    margin: 0 auto;
}
.card h4{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 70px;
    padding-right: 34px;
}
.card h4 a{
    text-decoration: none;
    color: #212529;
}
.productCard{
    text-decoration: none;
    color: #212529;
}
.productCard:hover{
    text-decoration: none;
    color: #212529;
}

.action {
    position: absolute;
    right: -35px;
    top: 8px;
    background: red;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    width: 125px;
    transform: rotate(45deg);
    text-align: center;
}
.old_price{
    font-size: 15px;
    text-decoration: line-through;
}
.new_price{
    color: red;
}
.action_price{
    height: 18px;
    text-align: right;
}
